<h2 style="text-align: center;">Edit Pupuk</h2>
<form action="/pupuk/edit/<%= pupuk.id %>" method="POST" style="display: flex; flex-direction: column; gap: 10px; width: 300px; margin: 0 auto; text-align: center;">
  <div>
    <label for="nama">Nama:</label>
    <input type="text" name="nama" id="nama" value="<%= pupuk.nama %>" required>
  </div>
  <div>
    <label for="jenis">Jenis:</label>
    <input type="text" name="jenis" id="jenis" value="<%= pupuk.jenis %>" required>
  </div>
  <div>
    <label for="komposisi">Komposisi:</label>
    <input type="text" name="umur" id="umur" value="<%= pupuk.Komposisi %>" required>
  </div>
  <div>
    <label for="kegunaan">Kegunaan:</label>
    <input type="text" name="umur" id="umur" value="<%= pupuk.Kegunaan %>" required>
  </div>
  <button type="submit" style="padding: 10px; background-color: #f1e49a; color: rgb(0, 0, 0); border: none; cursor: pointer; text-align: center;">Simpan</button>
</form>
